@import "reset.css";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
/* thead, */
/* tr, */
/* th, */
/* td, */ */
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*  */
:root {
  --main-black: #292d32;
  --grey--light: #b5b7c0;
  --grey--mid: #9197b3;
  --grey--dark: #e7e7e7;
  --grey--one: #404b52;
  --grey--two: #eeeeee;
  --grey--three: #f5f5f5;
  --white: #fff;
  --violet: #5932ea;
  --green--light: #16c09842;
  --green--dark: #008767;
  --red--light: #ffc5c5;
  --red--dark: #df0404;
}

body {
  box-sizing: border-box;
  background-color: #fafbff;
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  width: 100%;
  max-width: 1440px;
}
/*  */
.sidebar {
  background-color: var(--white);
  width: 25%;
  max-width: 20%;
  height: 100vh;
  padding: 36px 28px 76px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  position: relative;
  z-index: 10;
  transition: transform 0.3s ease;
}
/* .sidebar__menu {
} */
.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.sidebar__header img {
  width: 37px;
  height: 37px;
}

.sidebar__title {
  font-weight: 600;
  font-size: 26px;
  margin: 0 4px 0 8px;
}
.version {
  font-size: 10px;
  font-weight: 500;
  color: #838383;
}
/* .sidebar__nav {
}
.sidebar__list {
} */
div.sidebar__menu > nav > ul > li:nth-child(1) {
  margin-bottom: 1.5rem;
}
.sidebar__item {
  color: var(--grey--mid);
  font-size: 14px;
  font-weight: 500;

  padding: 11px;
  border-radius: 8px;
  margin-bottom: 0.7rem;
}
/* v2 */
.sidebar__item:hover {
  background-color: var(--violet);
  color: var(--white);
  transition: transform 0.2s ease;
}
.sidebar__item:hover .sidebar__icon,
.sidebar__item:hover .sidebar__chevron {
  filter: brightness(0) invert(1);
}
/* v2 */

/* .active_item {
  background-color: var(--violet);
  color: var(--white);
} */
.sidebar__link {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.sidebar__icon {
  width: 24px;
  height: 24px;
}
.sidebar__text {
  padding-left: 14px;
  padding-left: 14px;
  flex-grow: 1;
}
.sidebar__chevron {
  width: 6px;
  height: 12px;
}
/* .active_item > .sidebar__link > .sidebar__chevron {
  filter: brightness(0) invert(1);
} */
/* ---avatar */
.sidebar__profile {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 4.75rem;
}
.sidebar__avatar {
  margin-right: 12px;
}
.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar__name {
  font-size: 14px;
  font-weight: 500;
}
.sidebar__position {
  font-size: 12px;
  color: var(--grey--mid);
}
/* ---------
------------
---------- */
.container {
  /* padding-top: 41px;
  padding-left: 71px; */

  padding: 41px 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  position: relative;
}
.greeting {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;

  position: fixed;
  top: 40px;
  left: 27%;

  width: inherit;
  top: 40px;
  left: 79px;
  position: absolute;
}
.wrapper {
  background-color: var(--white);
  border-radius: 30px;
  padding: 30px 38px;
  /* --[-------]   ---- */
  width: 90%;
  height: auto;
}
.wrap-border {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .wrap-header {
} */
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.description {
  font-size: 14px;
  color: #16c098;
}

/* інпут.............. */
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  width: 216px;
  height: 38px;
}

.input-search {
  width: 100%;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;

  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f9fbff;

  color: var(--grey--light);
  font-size: 12px;
}

.input-container::before {
  content: url("./image/search\ 1.svg");
  position: absolute;
  left: 11px;
  top: 45%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

/* --------table--------- */
.customers-table {
  margin-top: 40px;
  position: relative;
  width: inherit;
  width: -webkit-fill-available;
  font-size: 14px;
  line-height: 3.5;
  text-align: left;
}
.customers-table thead th {
  font-weight: 500;
  color: var(--grey--light);
}

.customers-table thead::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 54px;
  width: 109%;
  height: 1px;
  background-color: #eeeeee;
}
.customers-table tbody {
  color: var(--main-black);
  font-size: 14px;
  font-weight: 500;
}
.customers-table tbody td {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}

/* .customers-table tr {
} */

.status-btn {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  width: 84px;
  line-height: 1.4;
  cursor: pointer;
}
.active {
  color: var(--green--dark);
  background-color: var(--green--light);
  border: 1px solid var(--green--dark);
}
.inactive {
  color: var(--red--dark);
  background-color: var(--red--light);
  border: 1px solid var(--red--dark);
}
/*  bonce hover  */
.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce:hover,
.bounce:focus,
.bounce:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*  */
/*  */
.pagination-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey--light);
  padding: 30px 0 10px;
}
.pagination {
  cursor: pointer;
}
.page-link {
  font-size: 12px;
  font-weight: 500;
  color: var(--grey--one);
  padding: 3px 10px;
  margin: 0 6px;
  border-radius: 4px;
  border: 1px solid var(--grey--two);
  background-color: var(--grey--three);
}
.active-link {
  background-color: var(--violet);
  color: var(--white);
  border: none;
}
.without {
  color: var(--main-black);
  background-color: transparent;
  border: none;
  padding: 0;
}
.hidden {
  display: none;
}
/* ------------- */
@media (max-width: 1146px) {
  .hidden {
    display: block;
    transition: 0.75s ease-out;
  }

  .hidebar {
    transition: 0.75s ease-out;
    transform: translateX(-110%);
  }

  .sidebar {
    padding: 18px 12px;
    box-shadow: -1px -1px 20px var(--violet);

    position: fixed;
    top: 0;
    left: 0;
  }

  .sidebar__header {
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .sidebar__header img {
    width: 30px;
    height: 30px;
  }
  .sidebar__title {
    font-size: 16px;
    margin: 0;
  }
  .sidebar__item {
    margin: 0;
  }
  div.sidebar__menu > nav > ul > li:nth-child(1) {
    margin-bottom: 0;
  }

  .btn {
    border: 1px solid var(--violet);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 12px;
    color: var(--violet);
    cursor: pointer;

    width: auto;
    height: fit-content;
  }

  .open-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    cursor: pointer;
  }

  /* ----------- */
  .container {
    padding: 20px 12px;
    display: block;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .greeting {
    font-size: 18px;
    line-height: 1.4;
    width: inherit;
    position: absolute;
    top: 20px;
    left: 5%;
  }
  .wrapper {
    margin: 30px auto;
    padding: 20px 12px;
  }
  .title {
    font-size: 16px;
    margin-bottom: 4px;
  }
  /* table */
  .customers-table {
    margin-top: 20px;
    font-size: 14px;
    line-height: 2.5;
    text-align: left;
  }
  .customers-table thead::before {
    top: 36px;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .sidebar {
    width: 8%;
    height: 100%;
  }
  .sidebar__header img {
    width: 20px;
    height: 20px;
  }
  .btn {
    padding: 2px 4px;
  }
  .sidebar__title {
    display: none;
  }

  .sidebar__link > span,
  .sidebar__chevron,
  .sidebar__info {
    display: none;
  }
  /* Стилі для підказок */
  .sidebar__item {
    position: relative;
  }
  .sidebar__item::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--violet);
    color: var(--white);
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
  }
  .sidebar__item:hover::after {
    display: block;
  }
  /*  */
  .sidebar__profile {
    bottom: 48.75rem;
  }
  /* -----sidebar---- */

  /*  */
}
